@font-face {
    font-family: 'IRANSansWeb';
    src: url('adminAssets/font/iransans/IRANSansWeb.eot') format('eot'),
    url('adminAssets/font/iransans/IRANSansWeb.woff') format('woff'),
    url('adminAssets/font/iransans/IRANSansWeb.ttf') format('truetype');
    src: url('adminAssets/font/iransans/IRANSans(FaNum)_Medium.eot') format('eot'),
    url('adminAssets/font/iransans/IRANSansWeb(FaNum).woff') format('woff'),
    url('adminAssets/font/iransans/IRANSansWeb(FaNum).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    direction: rtl;
    text-align: right;


}
a,span{
    text-decoration: none;
    font-family: 'IRANSansWeb' !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.font-1{
    font-size: 13px;
}
.bg-sidebar{
    background-color: #282d3e;
}
.h_100vh{
  height: 100vh;
}
.text-link{
    color: #e1e1e1;
}
ul,li{
    margin: 0;
    padding: 0;
}
.text-align-justify{
    text-align: justify;
}
.pointer{
    cursor: pointer;
}
.top-2rem{
    top: 2rem;
}
.fz-2{
    font-size: 0.8rem;
}
/*div{*/
/*    border: 1px solid red;*/
/*    text-align: center;*/
/*}*/
tr,th{
    text-align: center;
}
